.card.custom {
    width: 280px;
    transition: all ease-in-out 200ms;

}

.card.custom:hover {
    box-shadow: 0 .225rem .35rem rgba(0, 0, 0, .075);
    border-color: #c2c2c2;
    transform: translateY(-4px);
}

.card-img-top.custom {
    height: 250px;
    width: 100%;
}

.card-img-top.custom--comments {
    height: auto;
    max-height: 700px;
    width: 100%;
    object-fit: contain;
}

.list-group-item {
    border-left: none;
    border-right: none;
}

.card-img-top.custom img.img-fluid-custom {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.custom--comments__area {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.custom--comments__submit {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group.custom--comments {
    max-height: 624px;
    overflow-y: auto;
}

.btn.custom {
    font-size: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all ease-in-out 200ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card.custom:hover .btn.btn-outline-danger {
    opacity: 0.5;
    visibility: visible;
}

.btn.btn-outline-danger {
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 200ms;
    border-color: #ff4d5d;
    border-bottom: none;
    border-right: none;
}

.btn.btn-outline-danger:hover {
    background-color: #ff4d5d;
    border-color: #ff4d5d;
    opacity: 1 !important;
}

.btn.custom:hover {
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, .375);
    border-radius: 10px;
}

.btn.custom:active {
    background-color: #4e4e4e !important;
    box-shadow: none !important;
}

.form-custom {
    width: 400px;
}

@media (max-width: 600px) {
    .form-custom {
        max-width: 100%;
    }
}

.decoration-none {
    text-decoration: none !important;
    color: #1b1b1b;
}

.decoration-none:hover {
    color: #1b1b1b;
}

/*Inputs*/
.form-custom input.form-control {
    padding: 1.2rem 0.75rem;
}

.form-custom input.form-control::placeholder {
    opacity: 0.6;
}

.form-custom input.form-control:focus {
    border-color: #868686;
    box-shadow: 0 0 0 0.2rem rgba(122, 122, 122, 0.09)
}

textarea {
    resize: none;
}

.return-button {
    height: 30px;
    width: 50px;
    text-decoration: none;
    position: relative;
    left: -15px;
}

@media (max-width: 450px) {
    .return-button {
        left: 50%;
        transform: translate(-50%);
    }
}

.return-button i {
    position: absolute;
    left: 10px;
    animation: arrowMove infinite 1s alternate;
}

@keyframes arrowMove {
    0% {
        left: 5px;
    }

    100% {
        left: 30px
    }
}

.custom--card-content {
    text-decoration: none !important;
    position: absolute;
    right: -15px;
    top: -18px;
}

.card-text {
    word-break: break-word;
}